{% extends "layout.html" %}
{% block content %}
    <h1> About </h1>

    <div class="content  pt-5">
        <div class="row">
            <div class="col-lg col-md col-sm col-xs">
                This <b>Plagiarism Detection</b> platform
                is the result of years of studies on <i>music plagiarism</i> and <i>music similarities</i> fields,
                conducted by researchers and students at the <a href="http://music.di.unisa.it/">Musimathics Lab</a> of the University of Salerno.
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg col-md col-sm col-xs">
                <i>Plagiarism</i>, i.e., the act of copying the work of others and trying to pass it off as one own is seen as a legal offense.
                In the Internet era, the fast, vast, and easy access of information has further escalated
                the problem of plagiarism. Plagiarism occurs when two works are “substantially similar”, whereas the owner of one of the two works has "copied" 
                the other. Interpreting or measuring the concept of substantially similarity is actually an open issue.
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-lg col-md col-sm col-xs">
                According to the legislation, there are no general and accepted rules according to which a minimum number of notes,
                or beats, simultaneously present in two music compositions constitutes plagiarism. Over the years has emerged
                the need of defining a general criteria to identify cases of plagiarism. Even if not emphasized by the law, <i>melody</i>
                usually is the deciding element in cases of plagiarism. In fact, often we talk about <i>melodic plagiarism</i> to indicate music plagiarism.
                It is a phenomenon very debated in the music context, particularly in the context of western <i>pop music</i>.
            </div>
        </div>

        <div class="row">
            <div class="col-lg col-md col-sm col-xs">
                The recognition of a music plagiarism is not a trivial task, because it depends on 
                the ability of recognizing similarities between melodic fragments inside two melodies.
                We have proposed both text-based and fuzzy-based plagiarism detection tools.
                This <b>Plagiarism Detection</b> platform embeds a metric of similarity that uses <i>text similarity</i> and
                <i>clustering techniques</i>.
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg col-md col-sm col-xs">
            Bibliography
                <ul>
                    <li>
                        Roberto De Prisco, Delfina Malandrino, Gianluca Zaccagnino, Rocco Zaccagnino.
                        <i>Fuzzy vectorial-based similarity detection of music plagiarism</i>. FUZZ-IEEE 2017: 1-6.
                    </li>
                    <li>
                        Roberto De Prisco, Delfina Malandrino, Gianluca Zaccagnino, Rocco Zaccagnino.
                        <i>A computational intelligence text-based detection system of music plagiarism</i>.
                        ICSAI 2017: 519-524.
                    </li>
                    <li>
                        Roberto De Prisco, Antonio Esposito, Nicola Lettieri, Delfina Malandrino, Donato Pirozzi, Gianluca Zaccagnino, Rocco Zaccagnino.
                        <i>Music Plagiarism at a Glance:Metrics of Similarity and Visualizations</i>.
                        IV 2017: 410-415.
                    </li>
                    <li>
                        Roberto De Prisco, Nicola Lettieri, Delfina Malandrino, Donato Pirozzi, Gianluca Zaccagnino, Rocco Zaccagnino.
                        <i>Visualization of Music Plagiarism: Analysis and Evaluation.</i> IV 2016: 177-182.
                    </li>
                </ul>
            </div>
        </div>
{% endblock content%}
